[Desktop Entry]
Name=DDCmacOsTahoe-dark
X-KDE-PluginInfo-Author=Daniel Costa
X-KDE-PluginInfo-Email=daniel@ddcsoftwares.com
X-KDE-PluginInfo-Name=DDCmacOsTahoe-dark
X-KDE-PluginInfo-Version=1.0.3
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-Website=https://github.com/ddc/macOsTahoeKdeTheme
X-KDE-PluginInfo-EnabledByDefault=true
