[Desktop Entry]
Name=DDCmacOsTahoeKdeTheme-Dark
Comment=Macos Tahoe dark theme for kde plasma
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Type=Service

X-KDE-ParentApp=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Author=Daniel Costa
X-KDE-PluginInfo-Email=daniel@ddcsoftwares.com
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-Version=1.0.2
X-KDE-PluginInfo-Name=com.github.ddc.DDCmacOsTahoeKdeTheme-Dark
X-KDE-PluginInfo-Website=https://github.com/ddc/macOsTahoeKdeTheme
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/2305675,kns://plasma-themes.knsrc/api.kde-look.org/2305670,kns://aurorae.knsrc/api.kde-look.org/2305678,kns://wallpaper.knsrc/api.kde-look.org/2305680,kns://sddmtheme.knsrc/api.kde-look.org/2305683,kns://icons.knsrc/api.kde-look.org/2299216,kns://xcursor.knsrc/api.kde-look.org/2305688
