[Desktop Entry]
Name=DDCmacOsTahoeKdeTheme-Dark
Comment=MacOS Tahoe dark theme for plasma

X-KDE-PluginInfo-Author=Daniel Costa
X-KDE-PluginInfo-Email=daniel@ddcsoftwares.com
X-KDE-PluginInfo-Name=DDCmacOsTahoeKdeTheme-Dark
X-KDE-PluginInfo-Version=1.0.2
X-KDE-PluginInfo-Website=https://github.com/ddc/macOsTahoeKdeTheme
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=GPL-3.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=DDCmacOsTahoeKdeTheme-Dark
defaultFileSuffix=.jpeg
defaultWidth=3840
defaultHeight=2160

[ContrastEffect]
enabled=false
contrast=0.2
intensity=1.4
saturation=10

[AdaptiveTransparency]
enabled=true
